.palindroma{
    width: 50%;
    height: 100vh;
    background-color: burlywood;
    color: white;
}
.pariDispari{
    width: 50%;
    height: 100vh;
    background-color:cadetblue ;
    color: white;
}
p{
        color: chartreuse;
}
.pari{
    background-color: darkgreen;
    color: white;
    border:none;
}
.dispari{
    background-color: brown;
    color:white;
    border:none;
}